{% extends 'donaredapp/base.html' %}
{% load static %}

{% block title %}DonaRed{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar">
  <div class="brand">DonaRed</div>
  <div class="nav-links">
      <a href="#">¿Quiénes somos?</a>
      <a href="/novedades/" class="nav-link">Novedades</a>
      {% if user.is_authenticated %}
      <p>Hola, {{ user.first_name }}</p>
      {% if solicitudes_pendientes %}
      <div class="notification">
        <p><a href="{% url 'donaredapp:donaciones' %}">Alguien quiere recibir tu donación</a></p>
      </div>
      {% endif %}
      <p>
          <a href="{% url 'donaredapp:publicar' %}">
            <button>Publicar un nuevo ítem</button>
          </a>
      </p>
      <br>
      <p>
        <a href="{% url 'donaredapp:perfil' %}">
          <button>Ir a mi perfil</button>
        </a>
      </p>
      <p>
        <a href="{% url 'donaredapp:solicitudes' %}">
          <button>ver mis solicitudes</button>
        </a>
      </p>
      <p>
        <a href="{% url 'donaredapp:donaciones' %}">
          <button>ver mis donaciones</button>
        </a>
      </p>
      <br>
      <a href="{% url 'donaredapp:logout' %}">Cerrar Sesión</a>
      {% else %}
      
      <a href="{% url 'donaredapp:login' %}">Iniciar Sesión</a>
      
      <br>
      <a href="{% url 'donaredapp:registro' %}">Registrarse</a>

      {% endif %}

  </div>
</nav>

<!-- Categorías     -->
<section class="categorias">
  <div class="categoria-item">
      <a href="donaciones.html">
        <img src="{% static 'donaredapp/images/cat1.png' %}" alt="Ropa" />
          <p>Ropa</p>
      </a>
  </div>
  <div class="categoria-item">
      <a href="donaciones.html">
          <img src="{% static 'donaredapp/images/cat2.png' %}" alt="Libros" />
          <p>Libros</p>
      </a>
  </div>
  <div class="categoria-item">
      <a href="donaciones.html">
          <img src="{% static 'donaredapp/images/cat3.png' %}" alt="Tecnología" />
          <p>Tecnología</p>
      </a>
  </div>
  <div class="categoria-item">
      <a href="donaciones.html">
          <img src="{% static 'donaredapp/images/cat4.png' %}" alt="Herramientas" />
          <p>Herramientas</p>
      </a>
  </div>
  <div class="categoria-item">
      <a href="donaciones.html">
          <img src="{% static 'donaredapp/images/cat5.png' %}" alt="Bicicletas" />
          <p>Bicicletas</p>
      </a>
  </div>
  <div class="categoria-item">
      <a href="donaciones.html">
          <img src="{% static 'donaredapp/images/cat6.png' %}" alt="Muebles" />
          <p>Muebles</p>
      </a>
  </div>
</section>

<!-- Hero -->
<section class="hero"> 
    <div class="hero-text">
        <h1>Doná lo que ya no usás. <br>Ayudá a quienes más lo necesitan</h1>
        <p>Un objeto olvidado puede ser un gran cambio para otra persona.</p>   
        <div class="hero-buttons">
            <a href="templates/form_donar.html" class="btn-donar">Quiero Donar</a>
            <a href="#" class="btn-donar">Ver donaciones</a>
        </div>      
    </div>
    <div class="hero-image">
        <img src="{% static 'donaredapp/images/foto_tapa.png' %}" alt="imagen-chica">
    </div>
</section>

<!-- ¿Cómo funciona? -->
<section class="como-funciona">
    <div class="como-funciona-contenido">
        <h2>¿Cómo funciona?</h2>
    <div class="pasos">
        <div class="paso">
            <p class="emoji"><i class="fa-solid fa-face-smile"></i></p>
            <h3>Elige qué donar</h3>
            <p>Busca en casa cosas que están en buen estado y pueden ser útiles</p>
        </div>

        <div class="paso">
            <p class="emoji"><i class="fa-solid fa-circle-up"></i></p>
            <h3>Publica tu donación</h3>
            <p>Carga una foto y una breve descripción en minutos</p>
        </div>

        <div class="paso">
            <p class="emoji"><i class="fa-solid fa-hand-holding-heart"></i></p>
            <h3>Alguien lo recibe</h3>
            <p>Una persona que lo necesita se pondrá en contacto para coordinar la entrega</p>
        </div>
    </div>
    
    </div>
</section>

<!-- Inicio Cards donaciones-->
<section >
    <div class="donaciones" >
        <div class="donaciones-contenido">
            <h2 class="donaciones-titulo">Cátalogo Donaciones</h2>
        </div>
        <!-- Card 1 -->
        <div class="donar">
            <div class="donar-card">
                <img src="{% static 'donaredapp/images/pesas1.jpg' %}" alt="pesa">
                <h3>Pablo</h3>
                <h3>Pesa de un kilo</h3>
                <h3>Otros</h3>
                <h3>Zona Norte</h3>

            </div>
        </div>
        <!-- Card 2 -->
        <div class="donar">
            <div class="donar-card">
                <img src="{% static 'donaredapp/images/pantalon.jpg' %}" alt="pantalon">
                <h3>Lucia</h3>
                <h3>Pantalón talle 42</h3>
                <h3>Ropa</h3>
                <h3>Zona Sur</h3>
            </div>              
        </div>
        <!-- Card 3 -->
        <div class="donar">
            <div class="donar-card">
                <img src="{% static 'donaredapp/images/cocina_juguete.jpg' %}" alt="juguetes">
                <h3>Ana</h3>
                <h3>Cocina de juguetes</h3>
                <h3>Juguetes</h3>
                <h3>Zona Sur</h3>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="donar">
            <div class="donar-card">
                <img src="{% static 'donaredapp/images/buzo1.jpg' %}" alt="buzo">
                <h3>Ignacio</h3>
                <h3>Buzo talle 2</h3>
                <h3>Ropa</h3>
                <h3>Zona Caba</h3>

            </div>              
        </div>
        <div class="ver-mas-container">
            <a href="#" class="ver-mas-btn">Ver Más</a>
        </div>
    </div>
</section>

<!-- Sección de ¿Quiénes somos? -->
<section class="quienes_somos" id="quienes-somos"> 
    <div class="quienes_somos-contenido">
        <img src="{% static 'donaredapp/images/planeta.png' %}" class="imagen_planeta" alt="imagen planeta">
        <div class="quienes_somos-texto">
            <h2>Donared</h2>
            <p>DonaRed es una comunidad que une a quienes quieren donar con quienes necesitan recibir. <br>
                Creemos en el poder de compartir, en el cuidado del planeta y en la fuerza de la solidaridad para transformar realidades.<br>
                En DonaRed, cada objeto encuentra una nueva vida, cada conexión suma, y cada gesto cuenta. <br> Todo esto, sin barreras geográficas ni necesidad de dinero.</p>
            <p>Sumate a DonaRed y hacé la diferencia. <br>Juntos, podemos generar un impacto positivo.</p>
        </div>            
    </div>      
    
</section>

<!-- Buscador -->
<section class="buscador">
  <div class="search-container">
    <form method="GET" action="{% url 'donaredapp:index' %}">
      <input type="text" name="q" placeholder="Buscar donaciones..." value="{{ request.GET.q }}">
      
      <select name="zona">
        <option value="" {% if not request.GET.zona %}selected{% endif %}>Todas las zonas</option>
        {% for zona in zonas %}
          <option value="{{ zona.id }}" {% if request.GET.zona == zona.id|stringformat:'i' %}selected{% endif %}>{{ zona.nombre }}</option>
        {% endfor %}
      </select>
      
      <select name="categoria">
        <option value="" {% if not request.GET.categoria %}selected{% endif %}>Todas las categorías</option>
        {% for categoria in categorias %}
          <option value="{{ categoria.id }}" {% if request.GET.categoria == categoria.id|stringformat:'i' %}selected{% endif %}>{{ categoria.nombre }}</option>
        {% endfor %}
      </select>
      
      <button type="submit">Buscar</button>
    </form>
  </div>
</section>

<!-- Ultimas donaciones -->
<section class="donaciones">
  <div class="ultimas-donaciones">
    <p>Donaciones ofrecidas:</p>
  {% if items_recientes %}
      <ul>
      {% for item in items_recientes %}
          <li><a href="{% url 'donaredapp:tarjeta' item.id %}">{{ item.nombre }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No hay items recientes.</p>
  {% endif %}
  </div>
</section>

{% endblock %}