<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>DonaRed</title>
  </head>
  <body>
    <p>Tarjeta de Item</p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if item %}
        <h1>{{ item.nombre }}</h1>
        <h2>{{ item.descripcion }}</h2>
        <h3>Zona: {{ item.zona }}</h3>
        {% if user.is_authenticated %}
        <p>
          <a href="{% url 'donaredapp:pedir' item_id=item.id %}">
            <button>Contactar donante</button>
          </a>
        </p>
        {% else %}
        <p>Registrate para poder contactar al donante</p>
        {% endif %}
    {% else %}
        <p>No existe ese item.</p>
    {% endif %}
    <br>
    <p>
        <a href="{% url 'donaredapp:index' %}">
          <button>Volver a inicio</button>
        </a>
    </p>
  </body>
</html>