<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/categorySheet.css" />
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <a href="../index.html"><div class="brand">DonaRed</div></a>
        <div class="nav-links">
            <a href="#">¿Quiénes somos?</a>
            <a href="#">Iniciar sesión</a>
        </div>
    </nav>

    <section class="category-name">
        <p>Categoria General</p>
    </section>

    <section class="categories-container" id="categories">


    </section>


    <footer>
    </footer>

    <script src="../js/createCatergories.js"></script>

</body>

</html>