<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DonaRed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Orbitron:wght@600&display=swap"
        rel="stylesheet" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="brand">
            <img src="{% static 'images/DONA_RED.png' %}" alt="Logo DonaRed" class="logo" />
        </div>
        <div class="nav-links">
            <a href="/novedades/" class="nav-link">Novedades</a>
            <a href="#" class="btn-login">Iniciar sesión</a>
        </div>
    </nav>

    <!-- Categorías     -->
    <section class="categorias">
        <div class="categoria-item">
            <a href="donaciones.html">
                <img src="{% static 'images/T_SHIRT.png' %}" alt="Ropa" />
            </a>
        </div>
        <div class="categoria-item">
            <a href="donaciones.html">
                <img src="{% static 'images/BOOKS.png' %}" alt="Libros" />
            </a>
        </div>
        <div class="categoria-item">
            <a href="donaciones.html">
                <img src="{% static 'images/TECHNOLOGY.png' %}" alt="Tecnología" />
            </a>
        </div>
        <div class="categoria-item">
            <a href="donaciones.html">
                <img src="{% static 'images/TOOLS.png' %}" alt="Herramientas" />
            </a>
        </div>
        <div class="categoria-item">
            <a href="donaciones.html">
                <img src="{% static 'images/FURNITURE.png' %}" alt="Muebles" />
            </a>
        </div>
        <div class="categoria-item">
            <a href="donaciones.html">
                <img src="{% static 'images/OTHER.png' %}" alt="Varios" />
            </a>
        </div>
    </section>

    <!-- Hero -->
    <section class="hero">
        <div class="carousel" id="carousel">
            <img src="{% static 'images/BG_dona2.png' %}" class="carousel-image active" alt="Donando ropa" />
            <img src="{% static 'images/BG_dona1.png' %}" class="carousel-image" alt="Manos con donaciones" />
            <img src="{% static 'images/BG_dona4.png' %}" class="carousel-image" alt="Donando ropa" />
            <img src="{% static 'images/BG_dona3.png' %}" class="carousel-image" alt="Manos con donaciones" />

            <button class="carousel-btn prev" onclick="prevSlide()">❮</button>
            <button class="carousel-btn next" onclick="nextSlide()">❯</button>

            <div class="hero-buttons">
                <a href="registro.html" class="hero-btn">Quiero Donar</a>
                <a href="donaciones.html" class="hero-btn">Ver Donaciones</a>
            </div>
        </div>
    </section>


    <!-- ¿Cómo funciona? -->
    <section class="como-funciona">
        <h2>¿Cómo funciona?</h2>
        <div class="pasos">
            <div class="paso">
                <img src="{% static 'images/VOLUNTEER.png' %}" alt="Elige qué donar" class="icono-paso">
                <h3>Elige qué donar</h3>
            </div>

            <div class="paso">
                <img src="{% static 'images/UPLOAD.png' %}" alt="Publica tu donación" class="icono-paso">
                <h3>Publica tu donación</h3>
            </div>

            <div class="paso">
                <img src="{% static 'images/PERSON_ADD.png' %}" alt="Alguien lo recibe" class="icono-paso">
                <h3>Alguien lo recibe</h3>
            </div>
        </div>
    </section>

    <!-- Donaciones Recientes -->
    <section class="donaciones">
        <div class="contenedor-donaciones">
            <h2>Donaciones Recientes</h2>
            <p>Aquí se mostrarán los objetos que han sido donados por la comunidad.</p>
        </div>
    </section>


    <!-- Footer con mensaje -->
    <footer class="footer">
        <p>Gracias .bla bla..<br />"working progress"</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>