<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/productsheet.css" />
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <a href="../index.html"><div class="brand">DonaRed</div></a>
        <div class="nav-links">
            <a href="#">¿Quiénes somos?</a>
            <a href="#">Iniciar sesión</a>
        </div>
    </nav>

    <section class="product-container">

        <article class="card-images">
            <div class="card-images-front">
                <img src="../images/McFarlane-Toys-Warhammer-40k-Dark-Angels-Intercessor-Artist-Proof-7-in-Collectible-Figure_268ddb18-3bf7-40d7-836b-a767b13df4a0.652a491010cf40948d44b4326d149db5.jpg"
                    alt="">
            </div>
            <div class="card-images-secundary">

            </div>
        </article>

        <article class="card-description">
            <div class="">
                <h3>Titulo de producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse sed iusto. Omnis,
                    quibusdam porro accusamus nemo tempora facilis iure, odio, dolore nisi quo asperiores fuga qui sequi
                    recusandae vitae?</p>
                <p>Categorias: Herramientas - Salud - Domestico</p>
            </div>
        </article>

    </section>

    <section class="relation-products" id="related-products-container">
        
    </section>

    <section>
    </section>

    <footer>
    </footer>

    <script src="../js/utils.js"></script>

</body>

</html>