<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="../css/styles.css">

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="brand logo-login">
            <img src="/images/logoDonared.png" alt="Logo" >
            <p>Donared</p>
        </div>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
                    
        <div class="nav-links">
            <a href="/index.html">Inicio</a>
            <a href="/index.html">¿Quiénes somos?</a>
            <a href="#">Categorías</a>
            <a href="#">Novedades</a>
            <div class="dropdown">
                <a href="#">Mi cuenta<i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="/templates/inicio.html" class="dropdown_usuario">Iniciar sesión</a>
                    <a href="/templates/registro.html" class="dropdown_usuario">Registrarse</a>
                    <div class="perfil_submenu">
                        <a href="#">Perfil</a>
                        <ul class="submenu">
                            <li><a href="#" class="dropdown_perfil">Mi perfil</a></li>
                            <li><a href="/templates/form_donar.html" class="dropdown_perfil">Publicar donación</a></li>
                            <li><a href="#" class="dropdown_perfil">Mis solicitudes</a></li>
                            <li><a href="#" class="dropdown_perfil">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main id="main-registro" class="main-registro">
        <div class="formulario-container">
            <form action="#" method="post">
                <h2>Donared <br> Registrarse</h2>
                <div> 
                    <label for="nombreUsuario">Nombre de usuario</label>                   
                    <input type="text"  id="nombreUsuario" name="nombreUsuario" >
                </div>
                <div> 
                    <label for="email">Correo electrónico</label>             
                    <input type="email"  id="email" name="email">
                </div>
                <div> 
                    <label for="nombre">Nombre</label>                   
                    <input type="text"  id="nombre" name="nombre" >
                </div>
                <div> 
                    <label for="apellido">Apellido</label>                    
                    <input type="text"  id="apellido" name="apellido">
                </div> 
                <div class="form-row">  
                    <label for="celular">Celular (Opcional)</label>              
                    <span class="codigoArea" >011</span> 
                    <input type="tel" id="celular" name="celular">
                </div>      
                <div>
                    <input type="checkbox" id="validacion1" name="validacion1" >
                    <label for="validacion1">                    
                        Habilitar la opción de recibir donaciones (se activará tras la validación)
                    </label>                
                </div> 
                <div>
                    <label for="password">Contraseña</label>
                    <input type="password"  id="password" name="password"  autocomplete="new-password">
                </div>
                <div>
                    <label for="repetirPassword">Confirmar Contraseña</label>
                    <input type="password"  id="repetirPassword" name="repetirPassword"  autocomplete="new-password">
                </div>                
                <!--<div class="terminos">
                    <input class="check" type="checkbox" id="terminos" required>
                    <label for="terminos" class="check">Acepto los términos y condiciones</label>
                </div>-->
                <div>
                    <input class="boton" type="submit" value="Registrarse">
                </div>
                <div>
                    ¿Ya tienes una cuenta? 
                    <a href="/templates/inicio.html" class="inicio">Iniciar Sesión aquí</a>
                </div>
            </form>    
        </div>
    </main>
    <!-- Footer con mensaje -->
    <footer class="footer">
        <div class="footer-content">
            <div class="link logo-footer">
                <ul>
                    <li><img src="/images/logoDonared.png"  alt="logo">
                        <p>Donared</p>
                    </li>
                </ul>
            </div>
            <div class="link">
                <h3>REDES SOCIALES</h3>
                <ul class="link-redes">
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a></li>                               
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a></li>                    
                </ul>
            </div>
            <div class="link">
                <h3>CONTACTO</h3>
                <ul>
                    <li><a href="mailto:DonaRed@gmail.com"><i class="fa-regular fa-envelope"></i> DonaRed@gmail.com</a></li>
                    <li><a href="https://api.whatsapp.com/send/?phone=__"><i class="fa-brands fa-whatsapp"></i>011-56912478</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copy">
            <p><small>&copy; 2025 <b>DonaRed</b> - Todos los Derechos Reservados</small></p>
        </div>
    </footer>
</body>
</html>